.primary {
    border: 1px solid #dedede;
    border-radius: 5px;
    background-color: #fff;
    font-weight: 600;
    font-size: 14px;
    line-height: 186%;
    letter-spacing: 0.02em;
    color: #3d3b48;
}

.small{
    padding: 15px 350px 15px 32px;
    width: 460px;
}